.home-content {
	ion-list {
		padding: 5px 0;
		background: #fff;
		> ion-item-group {
			padding: 0 0 0 $content-padding;
			border-bottom: 1px solid #eee;
			&:last-child{
				border-bottom: 0;
			}
		}
	}
}